# Project Mode
NODE_ENV=development # production # development
# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://localwalaAdmin:Localwala2025DB@127.0.0.1:27017/foodbite?authSource=admin

# JWT
# JWT secret key
JWT_SECRET=yourjwtsecretgoeshere
JWT_EXPIRES_IN=1d
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=1600
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=365
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10
#Cookies Name for Web Routes
JWT_COOKIE_NAME=access_token
JWT_REFRESH_COOKIE_NAME=refresh_token
JWT_COOKIE_MAX_AGE_MS=86400000
JWT_COOKIE_DOMAIN=
JWT_COOKIE_SAME_SITE=
JWT_COOKIE_SECURE=auto
# CORS URLS
CLIENT_ORIGINS=http://localhost:4200,https://admin.localwala.tech,https://localwala.tech

# Server Timezone for accurate time management
SERVER_TIMEZONE=Asia/Kolkata
# for file upload
FOLDER_PUBLIC=./public/
# upload max file size in bytes. below is 1MB = 1 * 1024 * 1024
MAX_UPLOAD_FILE_SIZE=1048576
# prepend upload filename? random_string like Qwe123, millisecond like 1519211810362, leave it empty for no prepend
PREPEND_UPLOAD_FILE_NAME_METHOD=millisecond
# if above is random_string, set the length of the random string
PREPEND_UPLOAD_FILE_NAME_RANDOM_STRING_LENGTH=10
# allow file type. See a list of MIME at https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types
ALLOW_UPLOAD_FILE_TYPE=image/png,image/jpg,image/jpeg,image/gif,image/ico,image/x-icon,image/bmp,image/vnd.microsoft.icon,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,text/csv



